<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="src/styles/auth_style.css">
    <title>Авторизация и регистрация</title>
    <script>
        function showForm(formType) {
            const registerForm = document.getElementById('register-form');
            const loginForm = document.getElementById('login-form');
            const registerButton = document.getElementById('register-button');
            const loginButton = document.getElementById('login-button');

            if (formType === 'register') {
                registerForm.classList.remove('hidden');
                loginForm.classList.add('hidden');
                registerButton.classList.add('active');
                loginButton.classList.remove('active');
            } else {
                registerForm.classList.add('hidden');
                loginForm.classList.remove('hidden');
                registerButton.classList.remove('active');
                loginButton.classList.add('active');
            }
        }
        window.onload = () => showForm('register');
    </script>
    <script src="src/scripts/auth.js"></script>
</head>
<body>
    <div class="form-container">
        <div class="form-buttons">
            <button id="register-button" class="tab-button active" onclick="showForm('register')">Регистрация</button>
            <button id="login-button" class="tab-button" onclick="showForm('login')">Авторизация</button>
        </div>

        <form id="register-form" class="form-example">
            <div class="form-example">
                <input type="text" name="name" required placeholder="Введите имя"/>
            </div>
            <div class="form-example">
                <input type="email" name="email" required placeholder="Введите email"/>
            </div>
            <div class="form-example">
                <input type="password" name="password" required placeholder="Введите пароль"/>
            </div>
            <div class="form-example">
                <input type="number" name="age" placeholder="Введите возраст"/>
            </div>
            <div class="form-example">
                <input type="submit" value="Зарегистрироваться"/>
            </div>
        </form>

        <form id="login-form" class="form-example hidden">
            <div class="form-example">
                <input type="email" name="email" required placeholder="Введите email"/>
            </div>
            <div class="form-example">
                <input type="password" name="password" required placeholder="Введите пароль"/>
            </div>
            <div class="form-example">
                <input type="submit" value="Войти"/>
            </div>
        </form>
    </div>
</body>
</html>
